$primary: #ea4e4e;
$text-color: #707070;
$duration: 0.75s;
$border-width: 10px;

@font-face {
  font-family: Segoe;
  src: url("fonts/segoe.ttf") format("truetype");
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/montserrat-medium.otf") format("opentype");
  font-display: auto;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.full-height {
  min-height: 100%;
  height: 100%;
  color: $text-color;
}

@import "imports/animations";
@import "imports/arrows-call-to-scroll";
@import "imports/menu";
@import "imports/homepage";
@import "imports/workpage";
@import "imports/skillpage";
@import "imports/contact-modal";
@import "imports/login-form";
@import "imports/flash-message";
@import "imports/admin";
@import "imports/buttons";
